/** APPLICABLE FOR PUBLIC SIDE **/
@import url("./bundles/Navbar.module.css");
@import url("./bundles/Login.module.css");
@import url("./bundles/Modal.module.css");
@import url("./bundles/Content.module.css");
@import url("./bundles/Product.module.css");
@import url("./bundles/Cart.module.css");
@import url("./bundles/About.module.css");
@import url("./Glider.module.css");

/** APPLICABLE FOR USER SIDE **/
@import url("./user/Appbar.module.css");
@import url("./user/Main.module.css");
@import url("./user/Carts.module.css");

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  isolation: isolate;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", sans-serif;
  font-weight: 500; /* all medium huh */
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}