.login-container {
  padding: 2.757em;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.login-bubble {
  background: url("../../img/aqua-tiling.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #b1e1fc;
  border-radius: 12px;
}

.login-divide,
.divide-wrap {
  padding: 1.457em;
}

.login-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;
}

.detail h1 {
  font-size: 1.657em;
  margin-bottom: 6px;
}

.login-form form div {
  display: flex;
  flex-direction: column;
}

.login-form input {
  width: 480px;
  padding: 0.657em;
  border-radius: 6px;
  transition: all .2s ease-out;
}

.divide-wrap input[type="submit"] {
  width: 480px;
  padding: 0.657em;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  border: 1px solid #b1e1fc;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.login-form label {
  min-height: 32px;
}

#email-wrapper,
#pwd-wrap {
  margin-bottom: 12px;
}

.brand-logo {
  width: 64px;
  margin-bottom: 6px;
  border-radius: 12px;
  background: linear-gradient(188deg, #eff4f6 -117.73%, #1a61ec 134.45%);
}

.forgot-password {
  text-decoration: underline;
  text-align: right;
}

.blue-mark,
.forgot-password {
  color: #1a61ec;
  font-size: 0.857em;
}

/* #eye-wrapper {
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
#eye {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    pointer-events: none;
} */
.divide-wrap {
  border-top: 1px solid #b1e1fc;
  background: rgba(200, 240, 253, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divide-wrap input[type="submit"] {
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  background: linear-gradient(188deg, #eff4f6 -117.73%, #1a61ec 134.45%);
  appearance: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0.657em;
  transition: 0.2s;
}

.divide-wrap input[type="submit"]:hover {
  opacity: 0.8;
}

.divide-wrap input[type="submit"]:disabled {
  cursor: auto;
  background: linear-gradient(188deg, #FFF -117.73%, #DFE1E4 134.45%);
}

.login-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
}

.login-loading svg {
  width: 80px;
}