.login-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.275em;
    height: 100%;
}
.banner-wrap {
    background: #000; /* fallback bitch */
    background-image: url('../../../public/login-banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}
.banner-wrap img {
    object-fit: cover;
}
.login-info svg {
    width: 24px;
}
.login-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 50px;
}
.login-title {
    line-height: 2.575em;
    user-select: none;
}
.login-title label {
    font-size: 3em;
}
.login-title p {
    color: #969696;
    font-size: 1.475em;
}
#loginForm {
    display: grid;
    grid-auto-flow: row;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.657em;
}
.form-group label {
    margin-bottom: 0.458em;
}
#loginForm button,
.form-group input {
    padding: 0.457em;
}
.form-group input {
    display: block;
    border: 1px solid #D9D9D9;
}
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}
.form-group input {
    width: 400px;
}