.product-container {
    padding: 3.75em 0;
}

.product-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1140px;
}

.product-header {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.product-portrait {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    height: 480px;
}

.node-one,
.node-two {
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
}

.product-portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-portrait img:first-of-type {
    margin-bottom: 8px;
}

.product-title {
    margin-bottom: 16px;
}

.product-grid-column {
    padding-top: 2em;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
}

.product-description {
    max-width: 740px;
    word-break: normal;
    margin-right: 1.575em;
}

.product-description span {
    display: block;
    font-size: 2em;
    margin-bottom: 0.657em;
}

.product-description p {
    font-size: 1.057em;
    color: #727272;
    margin-bottom: 0.457em;
}

.product-option {
    position: sticky;
    top: 24px;
    left: 0;
    user-select: none;
    padding: 1.457em;
    width: 100%;
    background: #fff;
    border: 1px solid #CFCFCF;
    border-radius: 6px;
}

.product-price {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.pricey {
    font-size: 2em;
    margin-right: 6px;
}

.product-status {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.257em;
}

.just-circle {
    width: 12px;
    height: 12px;
    background: #E54C38;
    border-radius: 999px;
    margin-right: 6px;
}

.product-status span {
    color: #E54C38;
}

.quantity-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.757em;
}

.quantity-input label {
    margin-bottom: 0.757em;
}

.quantity-input input {
    width: 100%;
    padding: 0.757em;
    border-radius: 6px;
    outline: none;
    border: 1px solid #000;
}

.add-to-cart {
    width: 100%;
    background: linear-gradient(256deg, #F47B37 44.85%, #CC5817 145.26%);
    border: 1px solid #622A0B;
    border-radius: 6px;
    color: #fff;
    padding: 0.857em;
    margin-top: 0em;
    margin-bottom: 0.757em;
    transition: all 0.2s ease;
}
.add-to-cart:hover {
    box-shadow: 0px 0px 0px 8px #FCCBB0;
}

.product-last-column {
    font-weight: 600;
}

.total-price {
    display: flex;
    justify-content: space-between;
}

.last-header {
    display: block;
    margin-bottom: 0.67em;
}

@media (max-width: 920px) and (min-width: 768px) {
    .product-container {
        padding: 2em;
    }
    .product-header {
        width: 100%;
    }
    .product-portrait {
        height: 520px;
        grid-template-columns: repeat(1, 1fr);
    }
    .quantity-input input {
        width: 100%;
        padding: 0.757em;
    }
    .product-grid-column {
        padding-top: 2em;
        justify-content: space-between;
        flex-direction: column;
    }
    .product-description {
        order: 2;
    }
    .product-option {
        order: 1;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 1em;
    }
}
@media (max-width: 767px) and (min-width: 480px) {
    .product-container {
        padding: 2em;
    }
    .product-header {
        width: 100%;
    }
    .product-portrait {
        height: 520px;
        grid-template-columns: repeat(1, 1fr);
    }
    .quantity-input input {
        width: 100%;
        padding: 0.757em;
    }
    .product-grid-column {
        padding-top: 2em;
        justify-content: space-between;
        flex-direction: column;
    }
    .product-description {
        order: 2;
    }
    .product-option {
        order: 1;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 1em;
    }
    .product-description span {
        font-size: 1.575em;
        margin-bottom: 0.457em;
    }
    .product-description p {
        font-size: 0.857em;
    }
}